body {
  font-family: Arial, sans-serif;
  color: white;
  display: flex;
  background: transparent;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

.progress-bar {
  width: 100%;
  height: 8px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  display: none;
}

.progress-bar-fill {
  height: 100%;
  background: linear-gradient(90deg, #4caf50, #81c784);
  width: 100%; /* Szerokość na 100% */
  animation: progress-animation 2s linear infinite;
}

@keyframes progress-animation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.chat-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
}

.message {
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 15px;
  max-width: 80%;
  font-size: 14px;
  line-height: 1.4;
  word-wrap: break-word;
}

/* Stylowanie wiadomości wyrównanej do lewej */
.message-left {
  visibility: hidden;
  background: rgba(129, 199, 132, 0.65); /* Kolor wiadomości od asystenta */
  align-self: flex-start;
  border-top-left-radius: 5px;
  border-top-right-radius: 15px;
}

/* Stylowanie wiadomości wyrównanej do prawej */
.message-right {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  background: rgba(76, 175, 80, 0.65); /* Kolor wiadomości od użytkownika */
  align-self: flex-end;
  border-top-right-radius: 5px;
  border-top-left-radius: 15px;
}

.icon-container {
  align-self: flex-end;
  -webkit-app-region: no-drag;
  cursor: pointer;
}

.icon-default,
.icon-active {
  display: none;
}

.icon-container.active .icon-active {
  display: block;
}

.icon-container:not(.active) .icon-default {
  display: block;
}
